/*
*
* Layout Styles
*
*/
.body {
    font-size: var(--m);
    border: 0;
    min-height: 100vh;
    max-width: 1024px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 auto;
}

.main-nav{
    width: 98%;
    height: 40px;
    margin: 0 auto;
    vertical-align: center;
}

.main-header {
    width: 100%;
    position: relative;
}

.main-banner__img {
    width: 100%;
}

.main-banner__container {
    position: absolute;
    width: 100%;
    top: 0;
    //bottom: 0;

}

.slider {
    width: 100%;

    .slider-img {
        width: 100%;
    }
}

.main-footer {
    display: flex;
    flex-flow: column;
    
    li {
        display: inline-block;
    }

}

.main-figure, .slider-content {
    width: 80%;
    justify-content: center;
    margin: 1em auto;

}

@media screen and (min-width : 524px){
    .main-nav {
        ul {
            justify-content: flex-end;
        }
    }
}